@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Восстановление пароля</h5>
                </div>
                <div class="card-body">
                    <p>
                        Пожалуйста проверьте свой Email для сброса пароля
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
