@model FreelanceService.Web.Models.LoginViewModel

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Вход</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                       
                        <div class="form-group">
                            <input type="submit" value="Войти" class="btn btn-primary" />
                        </div>
                    </form>
                    <a asp-action="Register" asp-controller="Account">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>