﻿@model FreelanceService.Web.Models.RegisterViewModel
@using FreelanceService.Common.Enum
@{
    ViewData["Title"] = "Register";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Регистрация</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control"  id="phone"/>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="City">Выберете город проживания</label><br />
                            <select asp-for="City" asp-items="Html.GetEnumSelectList<CityEnum>()"></select>
                            <span asp-validation-for="City" />
                        </div>
                        <div>
                            <label asp-for="Role"></label><br />
                            <select asp-for="Role" asp-items="Html.GetEnumSelectList<RoleEnum>()"></select>
                            <span asp-validation-for="Role"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
                        </div>
                    </form>
                    <a asp-action="Login" asp-controller="Account">Вход</a>
                </div>
            </div>
        </div>
    </div>
</div>