
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}
<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Подтверждение сброс пароля</h5>
                </div>
                <div class="card-body">
                    <p>
                        Ваш пароль успешно сброшен. Пожалуйста <a asp-action="Login">нажмите для входа в система</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>