﻿@model PaginatedListModel<FreelanceService.Web.Models.UserExecutorViewModel>
@using FreelanceService.Common.Extensions
<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Исполнители</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Executors" method="get">
                        <div class="form-actions no-color">
                            <p>
                                Поиск по имени: <input type="text" class="form-control search-input" name="SearchString" value="@ViewData["currentFilter"]" />
                                <input type="submit" value="Поиск" class="btn btn-sm btn-default" /> |
                                <a asp-action="Executors">Сбросить</a>
                            </p>
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <p>Исполнитель</p>
                                </th>
                                <th>
                                    <p> Место проживания</p>
                                </th>
                                <th>
                                    <a asp-action="Executors" asp-route-sortOrder="@ViewData["RatingSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Рейтинг</a>
                                </th>
                                <th>
                                    <a asp-action="Executors" asp-route-sortOrder="@ViewData["RegistrationDateTimeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Дата регистрации</a>
                                </th>
                                <th>
                                    <p> Действия</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <p>@item.FirstName @item.LastName</p>
                                    </td>
                                    <td>
                                        <p>@item.City.DisplayName()</p>
                                    </td>
                                    <td>
                                        <p>@item.Rating</p>
                                    </td>
                                    <td>
                                        <p>@item.RegistrationDateTime.ToString("d")</p>
                                    </td>
                                    <td>
                                        <a asp-controller="Profile" asp-action="Profile" asp-route-userId="@item.Id" title="Посмотреть" type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                                            <i class="now-ui-icons ui-2_settings-90"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @await Html.PartialAsync("Partials/_Paginator",
                        new PaginatorViewModel
                        {
                            Action = "Index",
                            Controller = "Home",
                            Properties =
                                new
                                {
                                    sortOrder = @ViewData["CurrentSort"],
                                    currentFilter = @ViewData["CurrentFilter"]
                                },
                            Url = Url,
                            Paginator = Model
                        })
                </div>
            </div>
        </div>
    </div>
</div>
