﻿@model PaginatedListModel<FreelanceService.Web.Models.JobViewModel>
@using FreelanceService.Common.Extensions

@{
    ViewData["Title"] = "Index";
    //Layout = "../Shared/_Layout.cshtml";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Заказы</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Index" method="get">
                        <div class="form-actions no-color">
                            <p>
                                Поиск по имени: <input type="text" class="form-control search-input" name="SearchString" value="@ViewData["currentFilter"]" />
                                <input type="submit" value="Поиск" class="btn btn-sm btn-default" /> |
                                <a asp-action="Index">Сбросить</a>
                            </p>
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Имя</a>
                                </th>
                                <th>
                                    <p>Описание</p>
                                </th>
                                <th>
                                    <p>Местоположение</p>
                                </th>
                                <th>
                                    <p>Дата окончания</p>
                                </th>
                                <th>
                                    <p>Категория</p>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Цена</a>
                                </th>
                                <th>
                                    <p>Действия</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <p itemprop="text" >@item.Description</p> 
                                </td>
                                <td>
                                   <p> @item.City.DisplayName()</p>
                                </td>
                                <td>
                                    <p>@item.FinishedDateTime.ToString("d")</p>
                                </td>
                                <td>
                                   <p> @item.CategoryName</p>
                                </td>
                                @if (item.Price != null)
                                {
                                    <td>
                                       <p> @item.Price</p>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                       <p> По договоренности</p>
                                    </td>
                                }
                            <td>
                                <a asp-controller="Job" asp-action="Job" asp-route-id="@item.Id" title="Посмотреть" type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                </a>
                               
                            </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    @await Html.PartialAsync("Partials/_Paginator",
                        new PaginatorViewModel
                        {
                            Action = "Index",
                            Controller = "Home",
                            Properties =
                                new
                                {
                                    sortOrder = @ViewData["CurrentSort"],
                                    currentFilter = @ViewData["CurrentFilter"]
                                },
                            Url = Url,
                            Paginator = Model
                        })
                </div>
            </div>
        </div>
    </div>
</div>

