﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Политика конфиденциальности</h5>
                </div>
                <div class="card-body">
                    <p>Use this page to detail your site's privacy policy.</p>
                </div>
            </div>
        </div>
    </div>
</div>

