﻿@model FreelanceService.Web.Models.CreateJobViewModel
@using FreelanceService.Common.Enum

@{
    ViewData["Title"] = "CreateJob";
}


<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Создать заказ</h5>
                </div>
                <div class="card-body">
                    <form asp-action="CreateJob">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            @if (Model.CategoryDTOs != null)
                            {
                            <select asp-for="CategoryId" asp-items="@(new SelectList(Model.CategoryDTOs, "Id", "Name"))"></select>
                            }
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <select asp-for="City" asp-items="Html.GetEnumSelectList<CityEnum>()"></select>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FinishedDateTime" class="control-label"></label>
                            <input asp-for="FinishedDateTime" type="date" class="form-control" />
                            <span asp-validation-for="FinishedDateTime " class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Создать" class="btn btn-primary" />
                            <a  asp-action="Profile" asp-controller="Profile" class="btn btn-dark" > Отмена </a>
                        </div>
                    </form>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

