﻿@model FreelanceService.Web.Models.JobEditViewModel
@using FreelanceService.Common.Enum
@{
    ViewData["Title"] = "MyJobs";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Редактировать заказ</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="MyJobs/EditJob">
                        <div asp-validation-summary="   ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="Id" class="form-control" value="@Model.Id">
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input type="text" asp-for="Name" class="form-control" value="@Model.Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea type="text" asp-for="Description" class="form-control" value="@Model.Description" rows="8"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            @if (Model.CategoryDTOs != null)
                            {
                                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.CategoryDTOs, "Id", "Name"))"></select>
                            }
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="City">Выберете город проживания</label>
                            @Html.DropDownList("City", Html.GetEnumSelectList(typeof(CityEnum)))
                            <span asp-validation-for="City" />
                        </div>
                        <div class="form-group">
                            <label asp-for="FinishedDateTime" class="control-label"></label>
                            <input type="date" asp-for="FinishedDateTime" class="form-control" min="@DateTime.Now.Date" value="@Model.FinishedDateTime.Date">
                            <span asp-validation-for="FinishedDateTime" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Price"></label>
                            <input type="number" asp-for="Price" class="form-control" value="@Model.Price" min="0" placeholder="0,00">
                            <span asp-validation-for="Price" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Сохранить" asp-controller="Customer" asp-action="EditJob" class="btn  btn-outline-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
