﻿@model PaginatedListModel<FreelanceService.Web.Models.JobViewModel>
@using FreelanceService.Common.Extensions

@{
    ViewData["Title"] = "MyJobs";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Мои заказы</h5>
                </div>
                <div class="card-header">
                    <a asp-controller="Customer" asp-action="CreateJob" class="btn btn-success btn-sm">Создать новый заказ</a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <label class="control-label">Категория</label>
                                </th>
                                <th>
                                    <label class="control-label">Имя</label>
                                </th>
                                <th>
                                    <label class="control-label">Описание</label>
                                </th>
                                <th>
                                    <label class="control-label">Дата окончания</label>
                                </th>
                                <th>
                                    <label class="control-label">Статус</label>
                                </th>
                                <th class="text-right">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <p>@item.CategoryName</p>
                                </td>
                                <td>
                                    <p>@item.Name</p>
                                </td>
                                <td>
                                    <p>@item.Description</p>
                                </td>
                                <td>
                                    <p>@item.FinishedDateTime.Date.ToString("d")</p>
                                </td>
                              
                                <td>
                                    <p asp-for="@item.Status">@item.Status.DisplayName()</p>
                                </td>
                                <td class="td-actions text-right">
                                    <a asp-controller="Customer" asp-action="MyJobDetails" asp-route-jobId="@item.Id" title="Посмотреть" type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </a>
                                    <a asp-controller="Customer" asp-action="EditJob" asp-route-jobId="@item.Id" title="Редактировать" type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </a>
                                    <a asp-controller="Customer" asp-action="DeleteJob" asp-route-jobId="@item.Id" title="Удалить" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @await Html.PartialAsync("Partials/_Paginator",
    new PaginatorViewModel
    {
        Action = "MyJobs",
        Controller = "Customer",
        Url = Url,
        Paginator = Model
    })
                </div>
            </div>
        </div>
    </div>
</div>



