﻿@model FreelanceService.Web.Models.JobDetailsViewModel;


<div class="card">
    <div class="card-header">
        <h5 class="title">Откликнуться</h5>
    </div>
    <div class="card-body">
        <form method="post" action="Job/Response">
            <div class="form-group">
                <input type="hidden" class="form-control" asp-for="Id">
            </div>
            <p>Напишите свое предложение</p>
            <div class="form-group">
                <input type="number" class="form-control" asp-for="ResponseAddViewModel.Price" placeholder="Цена">
            </div>
            <div class="form-group">
                <textarea class="form-control" asp-for="ResponseAddViewModel.Description" rows="3"></textarea>
            </div>
            <input type="submit" value="Откликнуться" asp-controller="Job" asp-action="Response" class="btn  btn-outline-primary" />
        </form>
    </div>
</div>
