﻿@using FreelanceService.Common.Extensions
@model FreelanceService.Web.Models.JobDetailsViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="panel-header panel-header-sm">

</div>
<div class="content">
    <div class="row">
        <div class="offset-md-1 col-md-5">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Картинки</h5>
                </div>
                <div class="card-body">
                    <img src="https://fakeimg.pl/600x420/">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h5 class="title" asp-for="Name">@Model.Name</h5>
                </div>
                <div class="card-body">
                    <article class="p-3">
                        @if (Model.Price != null)
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <p><strong>Стоимость:</strong></p>
                                </div>
                                <div class="col-md-8">
                                    <span class="currency">BYN</span><span class="num">@Model.Price</span>
                                </div>
                            </div>
                            <hr />
                        }
                        else
                        { <div class="row">
                                <div class="col-md-4">
                                    <p><strong>Стоимость:</strong></p>
                                </div>
                                <div class="col-md-8">
                                    <span class="currency">Договорная</span>
                                </div>
                            </div>
                            <hr />
                        }
                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Описание:</strong></p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3"><p><strong>Выполнить до:</strong></p></div>
                            <div class="col-sm-9"><p>@Model.FinishedDateTime.ToString("d")</p> </div>
                            <hr />
                            <div class="col-sm-3"><p><strong>Город:</strong></p></div>
                            <div class="col-sm-9"><p>@Model.City.DisplayName()</p></div>
                            <hr />
                            <div class="col-sm-3"><p><strong>Категория:</strong></p></div>
                            <div class="col-sm-9"><p>@Model.Category.Name</p></div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>



    <section>
        <h2 class="text-center">Отклики</h2>
    </section>
    <div class="row">
        <div class="offset-md-1 col-md-10">
            @if (User.IsInRole("Исполнитель") && !(Model.ResponseListOfExecutors.Any(s => s.Email == User.Identity.Name)))
            {
                @await Html.PartialAsync("_PartialResponse")
            }

            @foreach (var item in Model.ResponseListOfExecutors)
            {

                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Card header -->
                            <div class="card-header">
                                <h5> @item.FirstNameExecutor @item.LastNameExecutor</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" alt="Generic placeholder image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p><strong>Описание:</strong></p>
                                            </div>
                                            <div class="col-md-12">
                                                <p>
                                                    @item.Description
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-4"><p><strong>Цена:</strong></p></div>
                                            @if (item.Price == 0)
                                            {
                                                <div class="col-md-8"><p>По договоренности</p> </div>
                                            }
                                            else
                                            {<div class="col-md-8"><p>@item.Price</p> </div>}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>

</div>