﻿@model FreelanceService.Web.Models.ProfileEditViewModel
@using FreelanceService.Common.Enum
@{
    ViewData["Title"] = "Edit";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Редактирование профиля</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="City">Выберете город проживания</label><br />
                            @Html.DropDownList("City", Html.GetEnumSelectList(typeof(CityEnum)))
                            <span asp-validation-for="City" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Сохранить" class="btn btn-primary" />
                            <a asp-action="Profile" asp-controller="Profile" class="btn btn-dark"> Отмена </a>
                        </div>
                    </form>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


