﻿@using System.Web

@model PaginatorViewModel

@{
    var prevDisabled = !Model.Paginator.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Paginator.HasNextPage ? "disabled" : "";

}

<nav class="d-flex justify-content-center mt-5">
    <ul class="pagination pg-blue mb-0">

        <!--First-->
        <li class="page-item">
            <a href="@Model.GetUrlForPage(1)" class="btn btn-primary btn-sm">К началу</a>
        </li>

        <!--Arrow left-->
        <li>
            <a href="@Model.GetUrlForPage(Model.Paginator.PreviousPage)" class="btn btn-primary btn-sm @prevDisabled" aria-label="Предыдущая">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Предыдущая</span>
            </a>
        </li>

        <!--Numbers-->
        @for (int pageNumber = 1; pageNumber <= Model.Paginator.TotalPages; pageNumber++)
        {
            <li>
                <a href="@Model.GetUrlForPage(pageNumber)" class="btn btn-primary btn-sm @(pageNumber == Model.Paginator.PageIndex ? "active" : "")">@pageNumber</a>
            </li>
        }
        <!--Arrow right-->
        <li>
            <a href="@Model.GetUrlForPage(Model.Paginator.NextPage)" class="btn btn-primary btn-sm @nextDisabled" aria-label="Следующая">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Следующая</span>
            </a>
        </li>

        <!--Last-->
        <li>
            <a href="@Model.GetUrlForPage(Model.Paginator.TotalPages)" class="btn btn-primary btn-sm">Последняя</a>
        </li>

    </ul>
</nav>